<div class="container-fluid">
  <h5 class="card-title font-weight-bold text-uppercase">Phân công công việc</h5>
  Khoa Công nghệ Thông tin

  <div class="mt-5">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-5">
        <mat-card class="mat-card-sub">
          <mat-card-header class="card-header">
            <mat-card-title>
              <h5>Phân tạo đề cương</h5>
            </mat-card-title>
          </mat-card-header>
          <img class="card-img-top" src="assets/images/Sell-course-online.gif" class="img-card" alt="Card image cap">
          <mat-card-content class="card-body">
          </mat-card-content>
          <mat-card-actions class="p-3">
            <button [routerLink]="['/phan-cong/de-cuong']" mat-raised-button color="primary">Phân công</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-5">
        <mat-card class="mat-card-sub">
          <mat-card-header class="card-header">
            <mat-card-title>
              <h5>Phân tạo cấu trúc</h5>
            </mat-card-title>
          </mat-card-header>
          <img class="card-img-top" src="assets/images/Sell-course-online.gif" class="img-card" alt="Card image cap">
          <mat-card-content class="card-body">
          </mat-card-content>
          <mat-card-actions class="p-3">
            <button [routerLink]="['/phan-cong/cau-truc']" mat-raised-button color="primary">Phân công</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-5">
        <mat-card class="mat-card-sub">
          <mat-card-header class="card-header">
            <mat-card-title>
              <h5>Phân tạo câu hỏi</h5>
            </mat-card-title>
          </mat-card-header>
          <img class="card-img-top" src="assets/images/Sell-course-online.gif" class="img-card" alt="Card image cap">
          <mat-card-content class="card-body">
          </mat-card-content>
          <mat-card-actions class="p-3">
            <button [routerLink]="['/phan-cong/cau-hoi']" mat-raised-button color="primary">Phân công</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
