<div class="container-fluid">
  <h5 class="font-weight-bold">Cập nhật thông tin cá nhân</h5>
  <div class="mt-5">
    <mat-card class="p-3">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-left">
            <div class="form-group">
              <label for="teacherId" class="font-weight-bold">Mã giảng viên</label>
              <input type="text" class="form-control" id="teacherId" [(ngModel)]="teacherId" name="teacherId" readOnly>
            </div>
            <div class="form-group">
              <label for="first-name" class="font-weight-bold">Tên</label>
              <input type="text" class="form-control" id="first-name" [(ngModel)]="firstName" name="firstName" placeholder="Nhập họ và tên lót"
                required>
            </div>
            <div class="form-group">
              <label for="last-name" class="font-weight-bold">Họ và tên đệm</label>
              <input type="text" class="form-control" id="last-name" [(ngModel)]="lastName" name="lastName" placeholder="Nhập Tên" required>
            </div>
            <div class="form-group">
              <label for="sex" class="font-weight-bold">Giới tính</label>
              <select name="sex" id="sex" ngModel class="form-control" [(ngModel)]="sex" name="sex">
                <option [value]="false">Nam</option>
                <option [value]="true">Nữ</option>
              </select>
            </div>
            <div class="form-group">
              <label for="birthday" class="font-weight-bold">Ngày sinh</label>
              <input type="date" class="form-control" id="birthday" [ngModel]="birthDay | date:'yyyy-MM-dd'" name="birthDay" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-group "  style="display: none;">
              <label for="email" class="font-weight-bold">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Nhập địa chỉ email" required readOnly>
            </div>
            <div class="form-group">
              <label for="phone" class="font-weight-bold">Số điện thoại</label>
              <input type="tel" class="form-control" id="phone" min="0" maxlength="12" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại">
            </div>
            <div class="form-group">
              <label for="address" class="font-weight-bold">Địa chỉ</label>
              <textarea class="form-control" id="address" rows="3" [(ngModel)]="address" name="address" placeholder="Nhập địa chỉ liên hệ"></textarea>
            </div>
            <div class="form-group">
              <label for="department" class="font-weight-bold">Bộ môn</label>
              <input type="tel" class="form-control" id="dapartment" min="0" maxlength="12" [(ngModel)]="departmentId" name="departmentId"
                placeholder="Bộ môn" readOnly>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-right upload-avatar text-center">
            <div class="card">
              <img [src]="avatar ? avatar : url_avatar_default" alt="Ảnh đại diện" class="img-thumbnail avatar-img">
              <div class="card-body">
                <app-change-avatar (eventUp)="onUploadAvartar($event)"></app-change-avatar>
              </div>
            </div>
          </div>
        </div>
        <mat-card-actions class="text-right p-3 mr-3">
          <button type="submit" mat-raised-button color="primary">Xác nhận</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
