<div class="container-fluid">
  <mat-card class="p-3 mb-3 main-title">
    <h3>Xin chào {{ teacher?teacher?.firstName: '...' }} {{ teacher?teacher?.lastName: '...' }}</h3>
  </mat-card>

  <div class="row mb-3">
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center">
          <i class="fab fa-angular" style="color: #dd0031"></i>
        </div>
        <h6 class="text-center">Angular</h6>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center">
          <i class="fab fa-sass" style="color: #c6538c"></i>
        </div>
        <h6 class="text-center">Sass</h6>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center p-0">
          <b class="f-bootstrap" style="color: #563d7c">B</b>
        </div>
        <h6 class="text-center">Bootstrap</h6>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center">
          <i class="fab fa-angular" style="color: #3f51b5"></i>
        </div>
        <h6 class="text-center">Angular Material</h6>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center" style="margin: 5px">
          <img src="assets/images/spring.png" width="170px" alt="">
        </div>
        <h6 class="text-center">Spring MVC</h6>
      </mat-card>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3 mb-2">
      <mat-card class="pb-2">
        <div class="tech-dev text-center p-0">
          <i class="fab fa-font-awesome" style="color: #228AE6"></i>
        </div>
        <h6 class="text-center">Font Awesome</h6>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 my-2">
      <mat-card>
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/images/cyberpop-zoe.jpg" width="100%">
          </div>
          <div class="col-sm-8 py-3">
            <h3>Nguyễn Tấn Phát</h3>
            <h6>14130089@st.hcmuaf.edu.vn</h6>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 my-2">
      <mat-card>
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/images/cyberpop-zoe.jpg" width="100%">
          </div>
          <div class="col-sm-8 py-3">
            <h3>Trần Văn Thắng</h3>
            <h6>14130118@st.hcmuaf.edu.vn</h6>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
