<div class="container-fluid">
  <h5 class="card-title font-weight-bold text-uppercase">Danh sách</h5>
  Khoa Công nghệ Thông tin

  <p class="text-right">
    <button type="button" mat-fab color="accent" data-toggle="modal" data-target="#modalThem">
      <i class="fas fa-plus-circle fa-lg"></i>
    </button>
  </p>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of chapters">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.chapterName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{item.describe}}</p>
      <mat-action-row>
        <button mat-raised-button color="warn" (click)="openDialog(item.chapterId, item.chapterName, subjectId)">
          <i class="fas fa-trash"></i>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="text-right m-3">
    <button type="submit" mat-raised-button color="primary">
      Nộp bài
    </button>
  </div>
</div>

<div class="modal fade" id="modalThem" tabindex="-1" role="dialog" aria-labelledby="modalThem" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="tieu-de">Tiêu đề</label>
            <input class="form-control" ngModel id="tieu-de" name="chapterName">
          </div>
          <div class="form-group">
            <label for="mo-ta">Mô tả</label>
            <textarea class="form-control" ngModel id="mo-ta" name="describe" rows="3"></textarea>
          </div>
          <button type="submit" mat-raised-button color="primary">Xác nhận</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
