<div class="container-fluid">
  <mat-card class="card card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Tạo cấu trúc đề thi</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <tbody class="text-center">
          <tr>
            <th>Tổng số câu</th>
            <td>Tổng số điểm hiện tại</td>
            <td>Số câu dễ</td>
            <td>Số câu khó</td>
          </tr>
          <tr>
            <th>{{numberEasyQuestion + numberDifficultyQuestion}}</th>
            <td>{{totalScore}}</td>
            <td>{{numberEasyQuestion}}</td>
            <td>{{numberDifficultyQuestion}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="text-right m-3" data-toggle="modal" data-target="#modalAdd">
      <button mat-raised-button color="warn">
        <i class="fas fa-plus"></i>
      </button>
    </p>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th scope="col">Chương</th>
              <th scope="col">Mức độ</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tổng điểm</th>
              <th scope="col">Cập nhật</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let item of structureTestDetail">
              <th scope="row">Chương {{item.chapterId}}</th>
              <td>{{(item.levelId == 1) ? 'Khó' : 'Dễ'}}</td>
              <td>{{item.numberOfQuestion}}</td>
              <td>{{item.totalScore}}</td>
              <td>
                <button mat-raised-button color="primary" data-toggle="modal" [attr.data-target]="['#modalc' + item.chapterId + 'l' + item.levelId]">
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
</div>

<!-- form sửa -->
<div *ngFor="let mitem of structureTestDetail" class="modal fade" [attr.id]="['modalc' + mitem.chapterId + 'l' + mitem.levelId]"
  tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa chương {{mitem.chapterId}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ma-cau-truc">Mã cấu trúc</label>
            <input type="number" class="form-control" id="ma-cau-truc" [(ngModel)]="mitem.structureTestId" name="estructureTestId" readonly>
          </div>
          <div class="form-group">
            <label for="ma-chuong">Mã chương</label>
            <input type="number" class="form-control" id="ma-chuong" [(ngModel)]="mitem.chapterId" name="echapterId" readonly>
          </div>
          <div class="form-group">
            <label for="muc-do">Mức độ</label>
            <select class="form-control" id="muc-do" [(ngModel)]="mitem.levelId" name="elevel" readonly>
              <option [value]="1">Khó</option>
              <option [value]="2">Dễ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="so-cau-hoi">Số lượng câu hỏi</label>
            <input type="number" class="form-control" id="so-cau-hoi" [(ngModel)]="mitem.numberOfQuestion" min="0" name="enumberOfQuestion">
          </div>
          <div class="form-group">
            <label for="tong-diem">Tổng điểm</label>
            <input type="number" class="form-control" id="tong-diem" [(ngModel)]="mitem.totalScore" min="0" name="etotalScore">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="submitFormEdit(mitem.structureTestId, mitem.chapterId, mitem.levelId)"
          #t mat-raised-button color="primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- form them -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="form-group">
            <label for="chuong">Chương</label>
            <select class="form-control" id="ma-chuong" ngModel name="chapterId">
              <option value="0">Chọn chương</option>
              <option *ngFor="let ch of structureTestDetail" [value]="ch?.chapterId">Chương {{ ch?.chapterId }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="muc-do">Mức độ</label>
            <select class="form-control" id="muc-do" ngModel name="levelId">
              <option value="0">Chọn mức độ</option>
              <option value="1">Khó</option>
              <option value="2">Dễ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="so-cau-hoi">Số lượng câu hỏi</label>
            <input type="number" class="form-control" ngModel id="so-cau-hoi" name="numberOfQuestion">
          </div>
          <div class="form-group">
            <label for="tong-diem">Tổng điểm</label>
            <input type="number" class="form-control" ngModel id="tong-diem" name="totalScore">
          </div>
          <button type="submit" mat-raised-button color="primary">Xác nhận</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" mat-raised-button data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
