<div class="container-fluid">
  <mat-card class="card card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Danh sách môn học</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <!-- <th scope="col">Mã môn học</th> -->
              <th scope="col">Tên môn học</th>
              <th scope="col">Giảng viên phụ trách</th>
              <th scope="col">Đê cương</th>
              <th scope="col">Cấu trúc đề thi</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let subject of subjects">
              <!-- <th scope="row">1</th> -->
              <td>{{subject.subjectName}}</td>
              <td>{{subject.teacherManagement.firstName+' '+subject.teacherManagement.lastName}}</td>
              <td>
                <button mat-raised-button color="primary" [routerLink]="['/chuong-muc/xem-de-cuong', subject.subjectId]">
                  <i class="fas fa-align-right"></i>
                </button>
              </td>
              <td>
                <button mat-raised-button color="primary" [routerLink]="['/cau-truc',subject.subjectId]">
                  <i class="fas fa-align-right"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav *ngIf="page_show" aria-label="Page navigation example">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1 mb-2">
            <div class="form-group">
              <label for="limitPP">Hiển thị</label>
              <select class="form-control" id="limitPerPage" [(ngModel)]="limit" (change)="limitPerPage($event.target.value)">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-lg-5 offset-xl-5">
            <ul class="pagination justify-content-end">
              <li *ngIf="(current_page > 1) && (numberOfPage>1)" class="page-item">
                <a class="page-link" (click)=(movePage(current_page-1))>
                  <!-- <i class="fas fa-angle-double-left"></i> -->&laquo;
                </a>
              </li>
              <li *ngFor="let item of collectionPageShow" [class]="'page-item '+[item==current_page? 'text-danger active ': '' ]">
                <!-- <a *ngIf="numberShowPage(i+1,current_page,collectionPageIndex.length)" class="page-link" (click)=(movePage(i+1))>{{i+1}}</a> -->
                <a class="page-link" (click)=(movePage(item))>{{item}}</a>
              </li>
              <li *ngIf="(current_page < numberOfPage) && (numberOfPage > 1)" class="page-item">
                <a class="page-link" (click)=(movePage(current_page+1))>
                  <!-- <i class="fas fa-angle-double-right"></i> -->&raquo;
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </mat-card>
</div>
